.tables_wrapper{
    overflow-x: scroll;
    padding-bottom: 2rem ;
    ::-webkit-scrollbar{
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
}
}

.universale_table_body{
    width: 100vmin !important;
   td {
     text-align: center;
     padding: 10px 10px;
      background: rgba(0,0,0,.05);
   }
}

.loader_container{
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thead {
    display: table-header-group;
    width: 100%;
    vertical-align: middle;
    border-color: inherit;
}

.thead_element {
    max-height: 37px;
    display: table-cell;
    border: 3px solid white ;
    justify-content: center;
    padding: 10px 10px;
    background: rgba(0,0,0,.05);
    border-radius: 0 ;
    color: #434850;
    min-width: 182px ;
    font-size: 1em;
}

.thead_element_block {
    display: flex;
    justify-content: center;
    width: 100%;
}

.thead_element_sortable {
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.univerale_table_body {
    background-color: #F9F9F9;
    color: #434850;
}

.sort_double_image{
    width: 12px;
    height: 12px;
}
.sort_single_image{
    width: 10px;
    height: 6px;
}
