.checker {
  position: relative;
  display: block;
  font-size: 15px;
  height: 1em;
  width: 2.5em;
  box-sizing: content-box;
  padding: 0.15em;
  border-radius: 0.25em;
  transition: transform .4s ease;
  cursor: pointer;
  background-color: var(--color-white);
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.151);
}

.disabled {
  opacity: 0.4;
  // transform: scale(1) !important; 
  // transition-duration: .2s;
}

.checkmark {
  width: 1em;
  height: 1em;
  transition: transform .4s ease;
  transform: translateX(-.4em);
  z-index: 5;

  svg {
    display: block;
    background: rgb(201, 201, 201);
    transform: translateX(.4em);
    border-radius: 0.15em;
    transition: 
      background-color .4s ease,
      transform .6s ease;

    path {
      // opacity: 0;
      stroke-dasharray: 90 90;
      stroke-dashoffset: 90;
      transition: stroke-dashoffset .05s linear .05s;
    }

  }
}

.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  visibility: hidden;

  &:checked {
    ~ div:first-of-type {
      transform: translate(1.9em);

      svg {
        background: var(--color-red);
        transform: translate(-.4em);
        path { stroke-dashoffset: 0; }
      }
    }
  }
}
