.sidebar {
  padding-top: 10px;
  width: 65px;
  min-width: 65px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--color-blue-dark);
  // color: var(--color-icon-grey);
  transition: 0.6s ease-out;
  overflow-y: visible auto;
  user-select: none;
  z-index: 10;
  border-right: 1px solid #72747c3e;
}

.sidebarActive {
  width: 235px;
  min-width: 235px;
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 17.5px;
  cursor: pointer;
  overflow: hidden;
  min-height: 50px;
  color: var(--color-icon-grey);
  outline: none;
}

.menuItem:hover {
  // background-color: var(--color-blue);
  color: var(--color-active-blue);
  img {
    // filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(100deg) brightness(5000%) contrast(100%);
    filter: sepia(100%) hue-rotate(190deg) saturate(500%) brightness(90%);
  }

  .arrowDown {
    // filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(100deg) brightness(5000%) contrast(100%);
  }
}

.menuInfo {
  display: flex;
  align-items: center;
  white-space: nowrap;
  // color: var(--color-icon-grey);
}

.activeItem {
  // background-color: var(--color-blue);
  color: var(--color-active-blue);
  img {
    // filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(100deg) brightness(0%);
    filter: sepia(100%) hue-rotate(190deg) saturate(500%) brightness(90%);
  }

  .arrowDown {
    // filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(100deg) brightness(5000%) contrast(100%);
  }
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 17.5px;
  display: block;
}

.arrowDown {
  width: 12px;
  height: 12px;
  background-image: url('../../../../assets/images/arrow-down.svg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 10px;
}

.dropdown {
  position: relative;
  overflow: visible;
}

.dropdownItem {
  padding: 10px 25px;
  font-size: 15px;
  white-space: nowrap;
  color: var(--color-icon-grey);
}

.dropdownItem:hover {
  color: var(--color-active-blue);
}

.activeChild {
  color: var(--color-active-blue);
}


.toRight {
  transform: rotate(-90deg)
}

.multiItems {
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 999;
  color: var(--color-icon-grey);
  background-color: var(--color-blue-dark);
  padding: 10px 0;
}
