.sidebar {
  padding-top: 10px;
  width: 65px;
  min-width: 65px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--color-blue-dark);
  color: var(--color-blue-light);
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
  overflow-y: visible auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 10;
}

.sidebarActive {
  width: 235px;
  min-width: 235px;
}

.menuItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 17.5px;
  cursor: pointer;
  overflow: hidden;
  min-height: 50px;
}

.menuItem:hover {
  background-color: var(--color-blue);
  color: white;
}

.menuItem:hover img {
  -webkit-filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(100deg) brightness(5000%) contrast(100%);
          filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(100deg) brightness(5000%) contrast(100%);
}

.menuItem:hover .arrowDown {
  -webkit-filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(100deg) brightness(5000%) contrast(100%);
          filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(100deg) brightness(5000%) contrast(100%);
}

.activeItem {
  background-color: var(--color-blue);
  color: white;
}

.activeItem img {
  -webkit-filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(100deg) brightness(5000%) contrast(100%);
          filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(100deg) brightness(5000%) contrast(100%);
}

.activeItem .arrowDown {
  -webkit-filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(100deg) brightness(5000%) contrast(100%);
          filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(100deg) brightness(5000%) contrast(100%);
}

.menuInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 17.5px;
  display: block;
}

.arrowDown {
  width: 12px;
  height: 12px;
  background-image: url("../../../../assets/images/arrow-down.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 10px;
}

.dropdown {
  position: relative;
  overflow: visible;
}

.dropdownItem {
  padding: 10px 25px;
  font-size: 15px;
  white-space: nowrap;
}

.dropdownItem:hover {
  color: white;
}

.activeChild {
  color: white;
}

.toRight {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.multiItems {
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 999;
  background-color: var(--color-blue);
  padding: 10px 0;
}
/*# sourceMappingURL=SideBar.module.css.map */