.wrapper {
  width: 100%;
  margin: 12px 0 0 0;
  padding: 10px 10px 20px;
  background: #fff;
  border-radius: 5px;
}

.wrapper .title {
  margin: 0 0 14px;
  font-size: 14px;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 30px;
}

.apply_reset_buttons {
  margin-top: 18px;
}

.upload_and_modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 30px;
  padding: 0px 30px;
}

.upload_and_modal .upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
}

.upload_and_modal .upload_button {
  height: 34px;
  margin-top: 18px;
  border-radius: 0px 10px 10px 0px;
  -webkit-box-shadow: 1px 1px 7px 2px #a2a2a24f;
          box-shadow: 1px 1px 7px 2px #a2a2a24f;
}

.upload_and_modal .modal_buttons {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.upload_and_modal .modal_buttons .m_button {
  background-color: var(--color-light-grey);
  color: var(--color-red);
  margin: 0 5px;
  font-size: 30px;
  padding: 0 20px;
}

.checkbox_container {
  width: 100%;
  margin-top: 12px;
  background: #fff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox_container .checkboxs_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 0 15px 0;
  gap: 15px;
}

.checkbox_container .checkboxs_wrapper p {
  margin-left: 20px;
  font-size: 13px;
}

.checkbox_container .filters_dropdown_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 10px;
  gap: 7px;
  height: 40px;
}

.checkbox_container .filters_dropdown_button h3 {
  font-size: 10px;
}

.checkbox_container .filter_icons {
  width: 13px;
  height: 13px;
}

.checkbox_container .filter_icons_right {
  width: 13px;
  height: 13px;
}

.checkbox_container .filter_icons_rotate {
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dropdown_checkbox {
  width: 80%;
  margin: 10px auto;
  padding: 10px 0px 10px 15px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 35px;
  background-color: white;
}

.dropdown_checkbox div {
  font-size: 10px;
  padding: 5px 0px 5px 0px;
}
/*# sourceMappingURL=Filters.module.css.map */