.button {
  width: 43px;
  height: 23px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.global_limits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

.glimits_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.light {
  background-image: url("../../../../../../../assets/images/ss_lb.svg") !important;
}

.dark {
  background-image: url("../../../../../../../assets/images/ss_db.svg") !important;
}

.images {
  width: 10px;
  height: 10px;
}

.limits_container {
  background: #fff;
  padding: 2px 20px;
  border-radius: 1px;
  border-bottom: 1px solid;
  margin-top: 10px;
}

.sportsbook_container {
  background-color: white;
}

.table {
  width: 100%;
}

.table_header {
  width: calc(100%/4);
  background-color: white;
  color: var(--color-font);
  padding: 5px !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  font-weight: 700;
}

.table_body {
  border: 1px solid rgba(134, 236, 138, 0.15);
}

.table_row {
  width: calc(100%/4);
  background-color: #F7F7F7;
}

.table_cell {
  padding: 3px 0 3px;
  background-color: #F7F7F7;
}

.table_cell_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px 0 10px;
}

.table_cell_item_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 0 10px;
}

.table_input {
  height: 30px;
}

.table_input input {
  height: 20px;
  background-color: white;
}

.input_wrapper {
  height: 20px;
}

.icon {
  width: 20px;
  height: 20px;
  padding: 1px;
}

.table_text {
  margin: 0px 10px;
}

.pagiNation {
  background-color: white;
}

.competition_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.competition_edit_button {
  margin: 20px 0 10px 0;
}
/*# sourceMappingURL=SportsbookSettings.module.css.map */