.root {
  max-width: 100%;
  height: 100vh;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.main {
  padding-top: 90px;
  display: flex;
  height: 100%;
  overflow: hidden;
}

.content {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow: hidden auto;
  // padding: 0 10px;
  padding: 0px;
  position: relative;
  background-color: var(--color-light-grey);
}

// .rightSideActive {
//   padding: 30px 115px;
// }

