.wrapper {
  // height: 60px;
}

.root {
  display: flex;
  border: 1px solid #a2a2a24f;
  // border-radius: 5px;
  // box-shadow: 1px 1px 7px 2px #a2a2a24f;
  background-color: #f7f8fa;
  padding: 8px 0px 6px;
  justify-content: space-between;
  align-items: center;
  color: var(--color-red);
  font-weight: bold;
  font-size: 13x;
  cursor: pointer;
  i {
    // display: block;
    margin-bottom: 4px;
    opacity: 0.5;
  }
}

.root:hover {
  border: 1px solid var(--color-active-blue);
}

.flex {
  display: flex;
}

.date {
  opacity: 0.7;
  user-select: none;
}

.placeholder {
  opacity: 0.5;
  color: gray;
  user-select: none;
}

.calendarIcon {
  background-image: url('../../../assets/images/blueCalendar.svg');
  width: 16px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1px;
}


