.root {
  font-size: 15px;
  // background-color: white;
  // box-shadow: 0 2px 4px #00000038;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 22;
  padding: 0 15px;
  height: 61px;
  border-bottom: 1px solid #72747c3e;
  color: var(--color-font-dark);
}

.leftSide {
  width: fit-content;
  display: flex;
  align-items: center;
  margin-top: -20px;
}

.logoContainer {
  width: 125px;
  height: 50px;
  background-repeat: no-repeat;
}

.logoLink {
  background-image: url('../../../../assets/images/LOGO.svg');
}

.logoLinkMin {
  width: 50px;
  background-image: url('../../../../assets/images/nrg-logo-min.png');
}

.burgerImg {
  background-image: url('../../../../assets/images/sidebarPath.svg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  margin-left: 65px;
  width: 20px;
  height: 15px;
}

.burgerActive {
  transform: rotate(180deg);
  margin-left: 10px;
}

.rightSide {
  display: flex;
  align-items: center;
  margin-top: -20px;
}

.arrowDown {
  width: 12px;
  height: 12px;
  background-image: url('./../../../../assets/images/arrow-down-red.svg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 7px;
  transition: 0.2s;
}

.arrowTop {
  transform: rotateX(180deg);
}

.headerItem {
  display: flex;
  align-items: center;
  margin: 0 15px;
  line-height: 0;
  user-select: none;
  position: relative;
  height: 50px;
  cursor: pointer;
  
}

.iconWrapper {
  width: 21px;
  height: 21px;
  background-size: contain;
  background-repeat: no-repeat;
}

.clockIcon {
  background-image: url('./../../../../assets/images/headerClock.png');
}

.userIcon {
  background-image: url('./../../../../assets/images/user.png');
}

.headPhone {
  width: 23px;
  height: 23px;
  background-image: url('./../../../../assets/images/headPhone.svg');
  margin-left: 15px;
}

.dropdown {
  position: absolute;
  height: 150px;
  top: 56px;
  left: -10px;
  min-width: calc(100% + 20px);
  padding: 10px 0;
  background-color: var(--color-white);
  color: var(--color-font);
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 4px #00000038;
}

.dropdownItem {
  padding: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  line-height: normal;
}

.dropdownItem:hover {
   &:hover {
    background-color: var( --color-strongGrey);
    color: white;
    cursor: pointer;
  }
}

.dropIcon {
  width: 17px;
  height: 17px;
  margin-right: 12px;
  margin-left: 2px;
  background-repeat: no-repeat;
  background-size: contain;
}

.logoutIcon {
  margin-top: 2px;
  background-image: url('./../../../../assets/images/logout.png');
}

.partners {
  height: 300px;
  padding-top: 0;
  line-height: normal;
  overflow-y: scroll;
}

.listRow {
  padding: 8px 13px;
  display: flex;
  width: 100%;
  & > div:nth-child(1) {
    width: 120px;
    min-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
  }
}

.partnersList {
  max-height: 160px;
  overflow: hidden auto;
}

.partnersItem {
  font-size: 12px;
  color: #4c4c4c;
  cursor: pointer;
  &:hover {
    background-color: var( --color-grey);
  }
}

.activePartner{
  background-color: var( --color-font);
  color: white;
}

.listHeader {
  font-size: 15px;
  color: var(--color-font);
  margin-bottom: 10px;
  cursor: default;
}

.languageContainer {
  width: 27px;
  text-align: center;
}

.langItem {
  font-size: 16px;
    &:hover {
    background-color: var( --color-strongGrey);
    color: white;
    cursor: pointer;
  }
}

.languageDropdown {
  height: 140px;
  max-height: 140px;
  overflow: hidden auto;
}

.noItem {
  background-color: var(--color-light-grey);
  margin: 0 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 13px;
  padding: 10px;
  cursor: default;
}

.flags {
  background-image:url('./../../../../assets/images/flags.png');
  background-repeat:no-repeat;
  background-size: 100% 49494%;
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  box-sizing: content-box;
  width: 28px;
  height: 17px;
  border-radius: 3px;
}

.flag-CN {background-position:left 0.2287%}
.flag-AM {background-position:center 0.4524%}
.flag-DE {background-position:center 0.6721%}
.flag-IT {background-position:center 0.8958%}
.flag-ES {background-position:left 1.1162%}
.flag-UA {background-position:center 1.3379%}
.flag-EN {background-position:center 1.5589%}