.root {
  background-color: var(--color-font);
  color: white;
  border: none;
  width: 100%;
  height: min-content;
  padding: 7px 20px;
  min-width: min-content;
  white-space: nowrap;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

.root:active {
  // background-color: var(--color-blue);
  box-shadow: inset 0px 0px 10px 3px #ffffff48
}

.root:disabled {
  background-color: rgba(128, 128, 128, 0.336);
  cursor: default;
}
.add_promotion > button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 207px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #DDDDDD;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #3AA387;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 20px;
  font-family: 'Noto Sans Bold';

}

.add_promotion > button::before {
  content: "\002B";
  font-size: 25px;
  padding-right: 5px;
}

