.background {
    width: 100%;
    margin: 12px 0 0 0;
    padding: 10px 10px 20px;

    background: #fff;

    .apply__audit_buttons {
        display: flex;
        align-items: flex-end;
    }

    .title{
        margin: 0;
        color: var(--color-font);

        font-size: 14px;
    }

    .date__buttons {
        display: flex;
        align-items: center;
        margin: 0 0 20px 0;
    }

    .date__picker_container {
        display: flex;
        align-items: flex-end;
        margin-left: 10px;
    }
}