:root {
  --color-blue-dark: #EDEEF0;
  --color-blue: #46566c;
  --color-blue-light: #a3bcde;
  --color-font: #72747c;
  --color-font-dark: #434850;
  --color-grey: #F3F3F3;
  --color-light-grey: #EDEEF0;
  --color-red: #d35e69;
  --color-white: #fff;
  --color-black: #000;
  --color-whiteGrey: #f8f8f8;
  --color-strongGrey: #434850;
  --color-active-blue: #5481d6;
  --color-icon-grey: #72747C;
  --color-green: #3AA387;
  --color-light-green: #6aaa99;
  --color-white-dark: #f7f8fa;
  --color-font-blue: #5773a8;
}
